In [41]:
import pandas as pd
import numpy as np
import warnings
# Import Meteostat library and dependencies
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Stations, Daily, Point
warnings.filterwarnings('ignore')

In [42]:
flights = pd.read_csv('../data/flights_train.csv', 
                      parse_dates = ['flight_date']).reset_index(drop=True)

airports = np.unique((np.append(flights['from'].unique(), flights['to'].unique())))
airports

array(['ATL', 'BOS', 'CLT', 'DEN', 'DFW', 'DTW', 'EWR', 'IAH', 'JFK',
       'LAS', 'LAX', 'LGA', 'MCO', 'MIA', 'MSP', 'ORD', 'PHL', 'PHX',
       'SEA', 'SFO'], dtype=object)

In [43]:
url="https://raw.githubusercontent.com/ravisurdhar/flight_delays/master/airports.csv"
us_airports=pd.read_csv(url)
airport_localisation = us_airports[us_airports['IATA_CODE'].isin(airports)]

In [44]:
airport_localisation

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
20,ATL,Hartsfield-Jackson Atlanta International Airport,Atlanta,GA,USA,33.64044,-84.42694
39,BOS,Gen. Edward Lawrence Logan International Airport,Boston,MA,USA,42.36435,-71.00518
66,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313
85,DEN,Denver International Airport,Denver,CO,USA,39.85841,-104.66700
86,DFW,Dallas/Fort Worth International Airport,Dallas-Fort Worth,TX,USA,32.89595,-97.03720
93,DTW,Detroit Metropolitan Airport,Detroit,MI,USA,42.21206,-83.34884
106,EWR,Newark Liberty International Airport,Newark,NJ,USA,40.69250,-74.16866
151,IAH,George Bush Intercontinental Airport,Houston,TX,USA,29.98047,-95.33972
166,JFK,John F. Kennedy International Airport (New Yor...,New York,NY,USA,40.63975,-73.77893
174,LAS,McCarran International Airport,Las Vegas,NV,USA,36.08036,-115.15233
176,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807
182,LGA,LaGuardia Airport (Marine Air Terminal),New York,NY,USA,40.77724,-73.87261
193,MCO,Orlando International Airport,Orlando,FL,USA,28.42889,-81.31603
203,MIA,Miami International Airport,Miami,FL,USA,25.79325,-80.29056
216,MSP,Minneapolis-Saint Paul International Airport,Minneapolis,MN,USA,44.88055,-93.21692
228,ORD,Chicago O'Hare International Airport,Chicago,IL,USA,41.97960,-87.90446
238,PHL,Philadelphia International Airport,Philadelphia,PA,USA,39.87195,-75.24114
239,PHX,Phoenix Sky Harbor International Airport,Phoenix,AZ,USA,33.43417,-112.00806
277,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931
278,SFO,San Francisco International Airport,San Francisco,CA,USA,37.61900,-122.37484

In [2]:
# Set coordinates of Vancouver
lat = 49.2497
lon = -123.1193

# Set time period
start = datetime(2018, 1, 1)
end = datetime(2018, 12, 31)

# Get closest weather station to Vancouver, BC
stations = Stations()
stations = stations.nearby(lat, lon)
stations = stations.inventory('daily', (start, end))
station = stations.fetch(1)

# Get daily data for 2018 at the selected weather station
data = Daily(station, start, end)
data = data.fetch()

In [45]:
point = Point(33.64044, -84.42694)

In [46]:
start = datetime(2012, 1, 1)
end = datetime(2012, 12, 31)
data = Daily(point, start, end)
data.fetch()

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2012-01-01  10.2   1.7  20.0   0.0   0.0    NaN  10.1   NaN  1020.1   NaN
2012-01-02   4.9  -0.6   8.3   0.0   0.0  311.3  22.5   NaN  1022.3   NaN
2012-01-03  -2.0  -5.6   1.1   0.0   0.0  314.1  15.4   NaN  1028.9   NaN
2012-01-04   1.7  -6.7  10.6   0.0   0.0    NaN   4.7   NaN  1026.9   NaN
2012-01-05   6.4  -0.6  16.1   0.0   0.0  276.7   5.9   NaN  1021.9   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2012-12-27   2.8   0.6   6.1   0.0   0.0  300.6  13.2   NaN  1018.1   NaN
2012-12-28   4.7  -1.1  10.6   7.4   0.0    NaN   4.9   NaN  1017.1   NaN
2012-12-29   4.0   1.7   6.1   9.7   0.0    NaN  13.9   NaN     NaN   NaN
2012-12-30   2.1  -2.2   7.8   0.0   0.0  328.3  11.6   NaN  1028.5   NaN
2012-12-31   6.1  -1.1  11.7   0.0   0.0    NaN   6.1   NaN  1026.6   NaN

[366 rows x 10 columns]

In [51]:
stations = Stations()
stations = stations.region('US', 'GA')
station = stations.fetch()[stations.fetch()['name'].str.contains('Jackson Atlanta')]
station

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end
id,,,,,,,,,,,,,,,
72219,Hartsfield-Jackson Atlanta,US,GA,72219,KATL,33.65,-84.1,313.0,America/New_York,1973-01-01,2022-01-04,1930-01-01,2022-01-01,1930-01-01,2021-01-01

In [53]:
start = datetime(2012, 1, 1)
end = datetime(2012, 12, 31)
d = Daily(station, start, end)
#=='Hartsfield-Jackson Atlanta International Airport']

In [4]:
lat = 49.2497
lon = -123.1193

# Set time period
start = datetime(2018, 1, 1)
end = datetime(2018, 12, 31)

In [5]:
stations = Stations()
stations = stations.nearby(lat, lon)
stations

In [6]:
stations = stations.inventory('daily', (start, end))
stations

In [8]:
station = stations.fetch(5)
station

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,distance
id,,,,,,,,,,,,,,,,
71201,Vancouver Harbour CS,CA,BC,71201,CWHC,49.30,-123.12,2.0,America/Vancouver,1980-03-01,2022-01-03,1925-11-01,2022-01-01,1925-01-01,2021-01-01,5593.335349
R1RBA,N Vancouver Wharves,CA,BC,<NA>,<NA>,49.31,-123.12,7.0,America/Vancouver,NaT,NaT,2000-01-01,2021-12-31,2000-01-01,2018-01-01,6705.246345
71892,Vancouver International Airport,CA,BC,71892,CYVR,49.19,-123.18,4.0,America/Vancouver,1955-07-02,2022-01-04,1957-01-06,2022-01-01,1949-01-01,2021-01-01,7968.845334
LLCYH,Richmond Dallyn 2,CA,BC,<NA>,<NA>,49.18,-123.09,2.0,America/Vancouver,NaT,NaT,2000-01-01,2021-12-31,2000-01-01,2021-01-01,8037.177643
YGHB9,Richmond Nature Park,CA,BC,<NA>,<NA>,49.17,-123.09,3.0,America/Vancouver,NaT,NaT,2000-01-01,2021-12-13,2000-01-01,2021-01-01,9114.242788

In [3]:
data

            tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt  pres  tsun
time
2018-01-01   2.2   0.0   4.4   0.0   NaN   NaN   NaN   NaN   NaN   NaN
2018-01-02   2.2   0.0   4.3   0.0   NaN   NaN   NaN   NaN   NaN   NaN
2018-01-03   2.7   1.6   3.8   0.0   NaN   NaN   NaN   NaN   NaN   NaN
2018-01-04   4.5   2.0   7.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN
2018-01-05   8.0   6.1   9.9  30.4   NaN   NaN   NaN   NaN   NaN   NaN
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
2018-12-27   4.0   2.2   5.7   0.0   NaN   NaN   NaN   NaN   NaN   NaN
2018-12-28   4.2   3.2   5.2  24.5   NaN   NaN   NaN   NaN   NaN   NaN
2018-12-29   7.9   5.0  10.7  16.6   NaN   NaN   NaN   NaN   NaN   NaN
2018-12-30   5.2   2.6   7.7   0.2   NaN   NaN   NaN   NaN   NaN   NaN
2018-12-31   3.6   0.1   7.2   0.0   NaN   NaN   NaN   NaN   NaN   NaN

[360 rows x 10 columns]

In [ ]:
# Plot line chart including average, minimum and maximum temperature
data.plot(y=['tavg', 'tmin', 'tmax'])
plt.show()